html, body, #app-container, #app-container .row, #results {
  height: 100%;
}

#map-canvass {
  height: 300px;
}

#pac-location-input {
  width: 100%;
}

.pac-container {
  z-index: 5;
}

#results #location-results-container, #results #place-results-container {
  height: 50%;
}

#results-header {
  height: 5%;
}

#location-results-container, #place-results-container {
  height: 47.5%;
}
