.results-display > div {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

nav.navbar {
  margin: 0 auto;
}

#results {
  display: none;
}

/* Location Results */
#location-results-container, #location-results div {
  display: none;
}
#location-address {
  height: 10%;
}
#location-results-navbar {
  height: 20%;
}
#location-results {
  height: 70%;
  border: 2px solid black;
}

/* Place Results */
#place-results-container {
  display: none;
}
#places-list {
  height: 100%;
  width: 100%;
  overflow: scroll;
  list-style: none;
}
#places-list li {
  width: 90%;
  border: 1px solid black;
  margin: 0.2em 0em;
}
#resource-summary, #place-info {
  height: 50%;
  overflow: scroll;
}
