.results-display > div {
  height: 100%;
  overflow: scroll;
}

nav.navbar {
  margin: 0 auto;
}

#results {
  display: none;
}

#results ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
#results ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Location Results */
#location-results-container, #location-results > div {
  display: none;
}
#location-address {
  height: 10%;
}
#location-results-navbar {
  max-height: 20%;
}
#location-results {
  height: 70%;
  border: 2px solid black;
}
#location-results div {
  padding: 0.5em;
}

/* Place Results */
#place-results-container {
  display: none;
}
#place-results {
  border: 2px solid black;
  padding: 0.5em;
}
#places-list {
  height: 100%;
  overflow: scroll;
  list-style: none;
}
#places-list li {
  width: 90%;
  border: 1px solid black;
  margin: 0.2em 0em;
}
#resource-summary, #place-info {
  height: 50%;
  overflow: scroll;
}
