<div class="app-wrapper">
  <!-- App -->
  <div class="app container-fluid">
    <div class="row">

      <!-- Location input -->
      <form id="pac-location-form" class="col-xs-6">
        <h3 class="page-header">Zombie Apocalypse</h3>
        <input id="pac-location-input" type="text" name="pac-location-input" placeholder="Enter a location">
        <input type="submit" style="visibility: hidden">
      </form>
      <!-- End of location input -->

      <!-- Results -->
      <div class="col-xs-6 container-fluid" id="results">

        <!-- Results navbar - Location, Places nearby -->
        <nav id="results-navbar" class="navbar row">
          <ul class="nav navbar-nav row">
            <li class="nav-item col-xs-6"><a href="#">Location</a></li>
            <li class="nav-item col-xs-6"><a href="#">Places nearby</a></li>
          </ul>
        </nav>
        <!-- End of results navbar -->

        <!-- Location results container -->
        <div id="location-results-container" class="row">
          <!-- Location navbar - toggle display between info, survival stats, and survival summary -->
          <nav id="location-results-navbar" class="navbar">
            <ul class="nav navbar-nav row">
              <li class="nav-item col-xs-4">
                <a href="#" data-target="location-basic-info">Info</a>
              </li>
              <li class="nav-item col-xs-4">
                <a href="#" data-target="location-survival-stats">Survival Stats</a>
              </li>
              <li class="nav-item col-xs-4">
                <a href="#" data-target="location-survival-summary">Summary</a>
              </li>
            </ul>
          </nav>
          <!-- End of location navbar -->

          <!-- Location results display -->
          <div id="location-results" class="results-display">
            <!-- Location basic info -->
            <div id="location-basic-info"></div>
            <!-- Survival stats -->
            <div id="location-survival-stats"></div>
            <!-- Survival summary -->
            <div id="location-survival-summary"></div>
          </div>
          <!-- End of location results display div -->
        </div>
        <!-- End of location results container -->


        <!-- Places results container -->
        <div id="place-results-container" class="container-fluid row">
          <!-- Resources Navbar - toggle display between places of resource types nearby -->
          <nav id="place-resources-navbar" class="navbar row">
            <ul class="nav navbar-nav">

            </ul>
          </nav>
          <!-- End of resources navbar  -->

          <!-- Display place results -->
          <div id="place-results" class="results-display row">
            <div class="col-xs-6 col-sm-6">
              <ul id="places-list"></ul>
            </div>
            <div class="col-xs-6 col-sm-6">
              <div id="resource-summary"></div>
              <div id="place-info"></div>
            </div>
          </div>
          <!-- End of place results display -->

        </div>
        <!-- End of place results container -->

      </div>
      <!-- End of results -->

    </div>
  </div>
  <!-- End of App div -->

  <!-- Map -->
  <div id="map-canvass"></div>
  <!-- End of Map div -->
</div>


<script type="text/javascript">
  $(function(){
    initGoogleMap();
  });

</script>
