<h5>Results</h5>
<div id="results">

  <div id="location-results"></div>

  <div id="place-results"></div>

</div>


<h5>Form</h5>
<form  id="pac-location-form">
  <input id="pac-location-input" type="text" name="pac-location-input">
  <input type="submit" style="visibility: hidden">
</form>


<hr>
<div id="map-canvass"></div>


<script type="text/javascript">
  $(function(){
    initGoogleMap();
  });

</script>