<div class="container-fluid" id="app-container">
  <div class="row">
    <div class="col-xs-6">

      <div class="google-pac-container">
        <h5>Form</h5>
        <form id="pac-location-form">
          <input id="pac-location-input" type="text" name="pac-location-input">
          <input type="submit" style="visibility: hidden">
        </form>
      </div>

      <div id="map-canvass"></div>

    </div>

    <div id="results" class="col-xs-6">
      <h5 id="results-header">Results</h5>

      <!-- Location results -->
      <div id="location-results-container">
        <div id="location-address"></div>
        <nav id="location-results-navbar" class="navbar">
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a href="#" id="basic-info-tab" data-target="location-basic-info">Info</a>
            </li>
            <li class="nav-item">
              <a href="#" id="survival-stats-tab" data-target="location-survival-stats">Survival Stats</a>
            </li>
            <li class="nav-item">
              <a href="#" id="survival-breakdown-tab" data-target="location-survival-breakdown">Breakdown</a>
            </li>
          </ul>
        </nav>

        <div id="location-results" class="results-display">
          <div id="location-basic-info" class="active"></div>
          <div id="location-survival-stats"></div>
          <div id="location-survival-breakdown"></div>
        </div>
      </div>

      <!-- Places results -->
      <div id="place-results-container" class="container-fluid">
        <nav id="place-resources-navbar" class="navbar">
          <ul class="nav navbar-nav">

          </ul>
        </nav>

        <div id="place-results" class="results-display row">
          <div id="resources-display" class="col-sx-6"></div>
          <div id="place-info" class="col-sx-6"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<hr>


<script type="text/javascript">
  $(function(){
    initGoogleMap();
  });

</script>
