<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <div class="google-pac-container">
        <h5>Form</h5>
        <form id="pac-location-form">
          <input id="pac-location-input" type="text" name="pac-location-input">
          <input type="submit" style="visibility: hidden">
        </form>
      </div>

      <div id="map-canvass"></div>

    </div>

    <div id="results" class="col-xs-6">
      <h5>Results</h5>

      <!-- Location results -->
      <div id="location-results">
        <div id="location-address"></div>
        <div id="location-results-navbar"></div>

        <div class="results-display">
          <div id="location-basic-info"></div>
          <div id="location-survival-stats"></div>
          <div id="location-survival-breakdown"></div>
        </div>
      </div>

      <!-- Places results -->
      <div id="place-results">
        <div id="resources-navbar"></div>

        <div class="results-display">
          <div id="resources-display"></div>
          <div id="place-info"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<hr>


<script type="text/javascript">
  $(function(){
    initGoogleMap();
  });

</script>
